<!doctype html>
<html>
  <head>
    <title>Confetti</title>
    <meta charset="utf-8">
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css">
    <link href="<%= url('/icon.png') %>" rel="apple-touch-icon-precomposed">
    <script src="//use.typekit.net/pyb8iqr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <h1>Confetti</h1>
  </body>
</html>
