<!doctype html>
<html>
  <head>
    <title>Confetti</title>
    <meta charset="utf-8">
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css">
    <link href="<%= url('/icon.png') %>" rel="apple-touch-icon-precomposed">
    <script src="//use.typekit.net/pyb8iqr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="blueprint">
      <img src="<%= url('/icon.svg') %>">
    </div>
    <h1>Confetti</h1>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5514334bde2e261e74000eea');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
